@import 'theme.css';
@import './theme.css';
@import './responsive.css';

body {
  display: flex;
  flex-direction: column;
  /*Căm giữa */
  justify-content: center;
  align-items: center;
  /*Nền gradient tím chuyển màu sang trọng*/
  background: linear-gradient(135deg, #5b21b6 0%, #f3e8ff 50%, #6c2bd9 150%);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  /**/
  min-height: 100vh;
}

.auth-container {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;

  & img {
    width: 300px;
    height: auto;
    position: absolute;
  }

  & img:nth-child(1) {
    top: -10%;
    left: -25%;
    z-index: 1;
    animation: float 6s ease-in-out infinite;
  }

  & img:nth-child(2) {
    bottom: -10%;
    right: -25%;
    animation: float 6s ease-in-out infinite;
  }

}

.auth-form-content {
  flex: 1;
  width: 100%;
  padding: 40px 40px;
}

/*-------- SignIn/SignUp --------*/
.auth-card-tab {
  display: flex;
  width: 830px;
  background-color: #ffffff;
  border-radius: 8px;

}

/*-------- ABOUT --------*/
.auth-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 24px; /* Giãn khoảng cách giữa header và form */
}

.auth-header h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;

}

.auth-header p {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  font-weight: 200;
  margin-bottom: 8px;
}

/*======= GROUP FORM =======*/
.form-group-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.form-group input,
.sub-group input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus,
.sub-group input:focus {
  border-color: rgba(81, 84, 241, 0.5);
  box-shadow: 
    0 4px 8px hsla(var(--p-700-code), 0.2),
    0 2px 4px hsla(var(--p-700-code), 0.3);
}

.form-fullname {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/*====== LOGO =======*/
.auth-logo {
  width: 75px;
  height: 75px;
  background-image: url(../../assets/logos/logo.png);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 100px;
  margin-bottom: 5px;
  border: 1px solid #6c2bd9;
  box-shadow: 
    inset 0px -1px 1px hsla(0, 0%, 100%, 0.5);
}

/*======= SUBMIT =======*/
.btn-submit {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  background: linear-gradient(90deg, #6c2bd9 0%, #8b5cf6 50%, #5b21b6 100%);
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 50px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 
      0 4px 8px hsla(var(--p-700-code), 0.2),
      0 2px 4px hsla(var(--p-700-code), 0.3);
  }
}

.btn-submit:hover {
  background-position: right center;
}

/*======= IMGAE  =======*/
.img-right-signin,
.img-right-signup {
  flex: 1;
}

.img-right-signin {
  width: 390px;
  height: 520px;
  border-radius: 0 8px 8px 0;
  background-image: url(../../assets/image/signin_bg.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.img-right-signup {
  width: 390px;
  height: 764px;
  border-radius: 0 8px 8px 0;
  background-image: url(../../assets/image/signup_bg_2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  flex-shrink: 0;
}

/*======= AUTH FOOTER ========*/
.auth-footer {
  text-align: center;
}

/* Chuyển đổi giữa SignUp & SignIn*/
.hidden {
  display: none !important;
}

/* Viền đỏ cho input nằm trong nhóm bị lỗi */
.form-group.invalid input, 
.sub-group.invalid input {
  border-color: #ef4444 !important;
  box-shadow: 0 0 5px rgba(239, 68, 68, 0.2);
}

.form-message {
  font-size: 0.75rem;
  color: #ef4444;
  margin-top: 4px;
  display: block;
  min-height: 16px;
  text-align: left;
  width: 100%;
}



/*  chuyển động màu */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*chuyển động rocket - laptp*/
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}